@import "../theme/lib/mixins";
@import "body";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

.demo {
  padding: 16px;
  font-family: 'sans-serif';

  > .demo-header {
    border: none;
    margin-bottom: 20px;
    border-bottom: solid 5px #eee;
    padding: 10px 0;

    h1 {
      float: left;
      font-size: 18px;

      @include breakpoint(min-width 480px) {
        font-size: 24px;
      }

      @include breakpoint(min-width 768px) {
        font-size: 48px;
      }
    }

    .language-selector {
      float: right;
    }

    &:after {
      @include clear-float();
    }
  }

  h1, h2, h3 {
    margin: 0;
  }

  h2 {
    border: none;
    margin-bottom: 20px;
    font-size: 32px;
  }
}