@import "../../demo/index";
@import "../../../../node_modules/rtl-sass/src/positioning";

.demo-positioning-fixed {
  .demo-body & {
    .block {
      width: 200px;
      height: 200px;
      max-width: 50%;

      clear: none;
      @include rtl-sass-float(right);

      &.first, &.third {
        @include rtl-sass-declaration(float, left, left);
      }
    }
  }
}
